.App {
  font-family: Roboto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav-inactive {
  color: white;
  padding: 10px;
  letter-spacing: 1px;
  text-decoration: none;
}

.nav-active {
  color: white;
  padding: 10px;
  letter-spacing: 1px;
  text-underline-offset: 5px;
}
